html, body {
    font-family: "Lucida Console", Monaco, monospace;
    background-color: #24292e;  
    color: white;  
}

/* Default size for desktop */
#logo img {
    max-width: 20%;
    display: block;
    margin: auto;
}

/* Mobile size */
@media only screen and (max-width: 768px) {
    #logo img {
        max-width: 60%;
    }
}

p {
    text-align: center;
    font-size: 1rem;
}

a {
    color: grey;
    text-decoration: none;
}

#main {
    padding-top: 2em;  #main {
    padding-top: 2em;  /* Reduced from 5em to 2em */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    width: auto;
    max-width: 100vw;
    top: 30%;
    left: 50%;
}
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    width: auto;
    max-width: 100vw;
    top: 30%;
    left: 50%;
}

#contact-info, #logo, #blurb {
    text-align: center;
    color: black;
    padding: 0.5rem;
}

#blurb a {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 5px;
    background: linear-gradient(to bottom, #7536af, #8A2BE2);  /* Violet gradient */
    color: white;
    text-decoration: none;
    font-weight: bold;
    
}